<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <h3>Full Name</h3>
  </div>
  <div>
    <input id="first" type="text" formControlName="first" ngModel>
    <input id="last" type="text" style="margin-left:20px" formControlName="last"><br>
    <label for="first">Fisrt Name</label>
    <label for="last" style="margin-left:126px">Last Name</label>
  </div><br><br><br>
  <div>
  <h3>Email</h3>
  </div>
  <div>
    <input id="email" type="text" id="email" formControlName="email"><br>
    <label for="email">example@example.com</label>
  </div><br><br><br>
  <div>
    <button class="button" type="submit">Submit</button>
    <button class="button" type="submit" (click)="onClear()" style="margin-left:20px">Clear Form</button>
  </div>
</form>

